.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}
.navbar{
  background-color: white;
}
.navbar-brand{
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 40px;
}

.text-hover:hover{
  color: blue;
}
.card1:hover{
  transform: scale(1.95);
box-shadow: 0 5px 10px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
margin-bottom: 20px;
margin-top: -20px;
}
.feature:hover{
  background-color: white;
}
footer{
   background-color: #efefef;
   color: #888;
}
footer a > span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.textsize{
  font-size: 50px;
  font-weight: 600;
  line-height: 100%;
  font-family: "Nunito", sans-serif;
  color: #000000;

}
.textsize_sm{
  font-size: 40px;
  font-weight: 600;
  line-height: 100%;
  font-family: "Nunito", sans-serif;
  color: #000000;

}
.text-primary{
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 700;
}
.card-title{
  font-weight: 500;
  font-family: sans-serif;
}
.text-title{
  font-size: 28px;
  font-weight: 500;
  line-height: 1.2;
  font-family: sans-serif;
}
.font-light{
  font-weight: 400;
  color: #a1a1a1;
  font-size: 16px;
}
.font-small{
  font-size: 14px;
  font-weight: 400;
}
.featu2{
  background-color: #f8f9fa!important;
  padding: 50px 0px;
}

.service-icon1{
  background-color: #6fe7dd;
}
.service-icon2{
  background-color: #ffc93c;
}
.service-icon3{
  background-color: #f73859;
}
.service-icon4{
  background-color: #407BFF;
}
.p2card-title{
  font-size: 18px;
  font-family: sans-serif;
}
.price{
  font-size: 40px;
  font-family: sans-serif;
}
.price-title{
  font-size: 30px;
  font-family: sans-serif;
}


.form-control input{
  border: none;
  border-bottom: 1px solid #43434d;
  background: transparent;
    
    border-radius: 0;
    color: #000000;
}
.form-group{
  margin-bottom: 1rem;
}
footer a{
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    background: #777;
    border-radius: 50%;
    color: #ffffff;
}
.icon{
  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text-bg{
  display: inline;
  background: rgba(64, 123, 255, 0.07);
}
.btn1 {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 30px;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: .05rem;
}
.transparent-card {
  background-color: rgba(255, 255, 255, 0.4) !important; /* Adjust the last value (0.5) for transparency level (0 to 1) */
}
body{
  overflow-x: hidden;
}